<template>
  <div class="{{ viewName }}">{{ viewName }}</div>
</template>

<script>
export default {
  name: '{{ viewName }}',
  props: {},
  data() {
    return {};
  },
  created() { },
  mounted() { },
  methods: {}
};
</script>


<style lang="less">
.{{ viewName }} {}
</style>
